@model QFSWeb.Models.ScanTemplateInfo

@{
    ViewBag.Title = "Template Scanner";
    Layout = "~/Views/Scanner/_ScannerLayout.cshtml";
    var className = Model.FormInfos.Count > 1 ? "no-opacity" : string.Empty;
}

@section Scripts
{
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js", "~/Scripts/jquery-ui.js")
    <script type="text/javascript">
        "use strict";
        function createCollapsibleSection() {
            if ($('.scan-item').length > 1) {
                $('#form').accordion({
                    collapsible: true
                });

                $('#form').removeClass('no-opacity');
            }
        }

        function createTabs() {
            $('[id ^= "tabs_"]').tabs();
        }

        function showLoader() {
            $("#divLoaderContainer").show();
        };

        function hideLoader() {
            $('#form').show();
            $('#divLoaderContainer').hide();
        }

        $(function () {
            showLoader();
            preparePageAsync()
                .then(createTabs)
                .then(createCollapsibleSection)
                .done(hideLoader);
        });
    </script>
}

@section Styles{
    @Styles.Render("~/Content/jquery-ui.css", "~/Content/scantemplate.css")
}

@*<div id="divLoaderContainer">
        <div id="divLoader"></div>
        <div id="divImgLoader">
            <img src="~/Content/images/loader.gif" alt="" />

            <div id="divContent"></div>
        </div>
    </div>*@
@if (Model.Messages.Count > 0)
{
    <div id="msg-container">
        Could not scan following documents:
        <ul id="messages">
            @foreach (var message in Model.Messages)
            {
                <li>@message</li>
            }
        </ul>
    </div>
}

@if (Model.FormInfos.Count > 0)
{
    <div id="form" class="@className hidden scanner-results">
        @{int i = 0;}
        @foreach (var info in Model.FormInfos)
        {
            i++;
            info.Index = i;
            @Html.Partial("Partials/_ScanTemplateResult", info)
        }
    </div>
    <div id="footer"><br />&nbsp;<br /></div>
}
@if (Model.FormInfos.Count == 0 && Model.Messages.Count == 0)
{
    <div class="no-data">
        Could not scan documents.
    </div>
}
