<div class="form-group page-content">
    <div class="col-md-12">
        <h4 class="error-info">
            You have exceeded your monthly usage allowance. Please contact Qdabra to purchase a usage plan.
        </h4>
    </div>
</div>