<div class="menu-container">
    <a href="/" title="Back To Main" class="main-page-link">
        <div class="glyphicon glyphicon-arrow-left"></div>
        <span class="menu-text"> Back To Main</span>
    </a>
</div>