<div id="divLoaderContainer" class="hidden">
    <div id="divLoader"></div>
    <div id="divImgLoader">
        <img src="~/Content/images/loader.gif" alt="" />

        <div id="divContent"></div>
    </div>
</div>
