@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/FormsViewer/_FormsViewerLayout.cshtml";
}

@section Scripts{
    <script>
        $(function() {
            preparePageAsync(true);
        });
    </script>
}
<div class="page-content">
    You do not have permission to access this page.
</div>
