@{
    ViewBag.Title = "FormsViewer";
    Layout = "~/Views/FormsViewer/_FormsViewerLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/viewFormStyles.css")
}

@section Scripts {
    <script>
        window.CKEDITOR_BASEPATH = '/scripts/CkEditor/';
    </script>
    @Scripts.Render("~/bundles/CkEditor.js")
    @Scripts.Render("~/bundles/formsViewerView.js")
}

<div id="form">
    @*<div id="loadMessage">Form loading</div>*@
</div>
<div id="fvFileDialog">
    <div class="prompt">Select a file:</div>
    <input type="file" class="fv-file-dialog-file" />
</div>