@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Qdabra Software<br />
    Kirkland, WA 98033<br />
    <abbr title="Phone">P:</abbr>
    877.544.2389
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@formsquo.com">Support@formsquo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@formsquo.com">Marketing@formsquo.com</a>
</address>
