@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FormsQuo eForm Services</h1>
    <p class="lead">FormsQuo enables efficient web form development.</p>
    <p><a href="http://formsquo.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Getting started</h2>
        <p>
            Already know where you want to go, but need help getting there?
        </p>
        <p><a class="btn btn-default" href="http://formsquo.com/get-started/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>eForm innovations</h2>
        <p>Don’t settle for out-of-the-box features. Move your eForms into the fast lane with these featured solutions.</p>
        <p><a class="btn btn-default" href="http://formsquo.com/eform-innovations/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Contact Us</h2>
        <p>Need eForms help? You've come to the right place: contact us for a FREE consultation, and we’ll put you on a path to success.</p>
        <p><a class="btn btn-default" href="http://formsquo.com/contact-us/">Learn more &raquo;</a></p>
    </div>
</div>

