@model InfoPathServices.FormLevelInfo

@if (Model != null)
{
    <div class="row">
        <h3>Form Properties</h3>
        <table>
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Qualifiers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Level</td>
                    <td>
                        <ul>
                            @foreach (var qual in Model.Qualifiers)
                            {
                                <li>@qual.Description</li>
                            }
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
