@model List<InfoPathServices.Property>

<div class="row">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <hr class="dotted" />
</div>